.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480pc) {
    width: 576px;
  }
  @media screen and (min-width: 480pc) {
    width: 768px;
  }

  @media screen and (min-width: 480pc) {
    width: 1200px;
  }
}
