.logo {
  // margin-right: 93px;
  margin-top: auto;
  margin-bottom: auto;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--black {
  color: var(--color-black);
}
