.order--hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.order {
  background: var(--footer-order-color);
}

.order__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // mobile screen

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/order/img_mob.jpg);

  // mobile screen retina

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/order/img_mob@2x.jpg);
  }

  // tablet screen

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/order/img_tab.jpg);

    // tablet screen retina

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/order/img_tab@2x.jpg);
    }
  }

  // desktop screen

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/order/img_des.jpg);

    // desktop screen retina

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/order/img_des@2x.jpg);
    }
  }
}

.order-title {
  text-align: center;
  color: var(--primary-color-white);
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.order__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
}
