.project-filter__item {
  margin-left: 8px;
  margin-bottom: 21px;

  @media screen and (min-width: $tablet) {
    &:nth-child(4),
    &:nth-child(1) {
      margin-left: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $tablet) {
  .project-filter__item + .project-filter__item {
    margin-left: 8px;
  }
}

.project-filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-color: transparent;

  color: var(--title-text-color);
  background-color: var(--second-bg-color);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--primary-color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.project-filter {
  display: flex;

  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}
