.team {
  background-color: var(--second-bg-color);
}

.team__list {
  @extend %list;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.team__item + .team__item {
  margin-bottom: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $desktop) {
    .team__item + .team__item {
      margin-left: 30px;
    }
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-color-white);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.team__social-list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.team__social-item + .team__social-item {
  margin-left: 10px;
}

.team__social-link {
  @include centeredFlex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-border-color);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--accent-color);
    fill: var(--primary-color-white);
  }
}
